html,
body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;

  #viewer {
    height: 100vh;
    width: 100%;
    background-color: peachpuff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 3rem;
    }
    label {
      font-size: 1.3rem;
    }
    button {
      font-family: "Young Serif", serif;
      align-self: center;
      width: 160px;
      height: 60px;
      font-size: 1.2rem;
      border-radius: 16px;
      border: none;
      background: palevioletred;
      &:hover {
        background: rgb(48, 48, 48);
        color: palevioletred;
        cursor: pointer;
      }
    }
    #start-button {
      width: 250px;
      height: 100px;
      font-size: 2rem;
    }
    #dark-mode {
      height: 50px;
      background: darkblue;
      color: whitesmoke;
    }
    #quiz-box {
      width: 70%;
      height: 65%;
      padding: 24px;
      background: whitesmoke;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: auto;
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.3rem;
      }
      .answer-box {
        border-top: 2px solid black;
      }
    }

    //För result page
    #quiz-box.result-page {
      justify-content: flex-start;
    }
  }
}
